.products-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
}

/*  (<thead>) */

.products-table thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #7ca7d5;
  color: #334155;
  padding: 7px 16px;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 2px solid #e2e8f0;
}

.products-table thead tr th:first-child {
  border-top-left-radius: 8px;
}

.products-table thead tr th:last-child {
  border-top-right-radius: 8px;
}

/*   (<tbody>) */

.products-table tbody tr td {
  padding: 12px 16px;
  border: 1px solid #e2e8f0;
  color: #475569;
}

.products-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

/*  (Hover) */

.products-table tbody tr:hover {
  background-color: #eef2ff;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.products-table tbody tr td:nth-child(2) {
  font-weight: 700;
  color: #1e3a8a;
  width: 150px;
}

.products-table tbody tr:last-child td {
  border-bottom: none;
}

.products-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.products-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
