.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
}

.login-box {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
}

.login-box h2 {
  text-align: center;
  color: #607eca;
  margin: 0;
}

.login-box p {
  color: #0d2052;
  margin: 0;
}

.login-box input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-box button {
  padding: 8px 5px;
  background: #305cbbd1;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 2px;
  width: 50%;
  margin: 0 auto;
}

.login-box button:hover {
  background: #223f8f;
}

.custom-alert {
  color: rgb(182, 20, 20);
}
